body {
	background-image: url(images/background.png);
	background-repeat: repeat-x;
}
.breadcrumb {
	background-color: #0353ac;
	font-weight: bold;
	margin-top:10px;
	margin-bottom: 20px;
}
.breadcrumb a{
	color:#EEEEEE;
	font-weight: bold;
}
.breadcrumb>.active {
	color: #f6ca19;
}
#content {
	width: 100%;
	min-height: 450px;
	margin: 100px auto;
	box-shadow: 2px 2px 10px #888;
	background: #f9f9f9;
	padding-bottom: 70px;
	font-family: Verdana;
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
	border-radius: 7px 7px 7px 7px;
	padding: 30px 30px 70px 30px;
}

#content h2 {
	color: #f6ca19;
	font-weight: bold;
}

#content .form {
	padding-left: 15px;
	padding-right: 15px;
}
#content .error{
	color:red;
}
#content .nav{
	margin-bottom: 20px;
}
#content .nav.nav-tabs.nav-justified a{
	background-color: #D3D3D3;
}
#content .nav.nav-tabs.nav-justified .active a{
	color: #fff;
	background-color: #0353AC;
}
#menu {
	width: 100%;
	min-height: 450px;
	margin: 100px auto;
	box-shadow: 2px 2px 10px #888;
	background: #0353ac;
	font-family: Verdana;
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
	border-radius: 7px 7px 7px 7px;
	padding: 10px 10px 70px 10px;
	color: #efefef;
}

#menu h3 {
	color: #f6ca19;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

#menu h4 {
	color: #f6ca19;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

#menu .registration {
	width: 100%;
	height: 100px;
	background: #822422;
	margin-top: 20px;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
}

#menu .registration a {
	display: block;
	margin: 8px auto;
}

#obraz img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#menu_button {
	margin-top: 20px;
}
#menu_button a{
	font-weight: bold;
}
#addSpittle .modal-body{
	background-color: #0353ac;
}

#addSpittle #myModalLabel{
	    color: #f6ca19;
    font-weight:bold;
}