<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd  http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<mvc:annotation-driven />
	<mvc:resources mapping="/static/**" location="/static/" />
	<context:component-scan base-package="com.project.controllers" />

	<import resource="datasource-config.xml" />
	<import resource="security-config.xml" />


	<bean id="userDao" class="com.project.dao.impl.UserJpaDao" />
	<bean id="userAvatarDao" class="com.project.dao.impl.UserAvatarJpaDao" />
	<bean id="configurationDao" class="com.project.dao.impl.ConfigurationJpaDao" />
	<bean id="balanceDao" class="com.project.dao.impl.BalanceJpaDao" />
	<bean id="categoryRevenueDao" class="com.project.dao.impl.CategoryRevenueJpaDao" />
	<bean id="categoryExpensesDao" class="com.project.dao.impl.CategoryExpensesJpaDao" />
	<bean id="revenueDao" class="com.project.dao.impl.RevenueJpaDao" />
	<bean id="expenseDao" class="com.project.dao.impl.ExpenseJpaDao" />

	<bean id="userService" class="com.project.services.impl.UserServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	
	<bean id="imageService" class="com.project.services.impl.ImageServiceImpl" >
		<property name="userAvatarDao" ref="userAvatarDao" />
	</bean>
	
	<bean id="configurationDataService" class="com.project.services.impl.ConfigurationDataServiceImpl" >
		<property name="configurationDao" ref="configurationDao" />
		<property name="balanceDao" ref="balanceDao" />
		<property name="userSessionObject" ref="userSessionObject" />
	</bean>
	
	<bean id="financeService" class="com.project.services.impl.FinanceServiceImpl">
		<property name="userSessionObject" ref="userSessionObject" />
		<property name="balanceDao" ref="balanceDao" />
		<property name="categoryRevenueDao" ref="categoryRevenueDao" />
		<property name="revenueDao" ref="revenueDao" />
		<property name="expenseDao" ref="expenseDao" />
		<property name="balanceSessionObject" ref="balanceSessionObject" />
	</bean>
	
	
	<bean id="userAuthenticationProviderService" class="com.project.services.impl.UserAuthenticationProviderServiceImpl">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="userSessionObject" ref="userSessionObject" />
		<property name="userService" ref="userService" />
		<property name="imageService" ref="imageService" />
		<property name="configurationDataService" ref="configurationDataService" />
		<property name="financeService" ref="financeService" />
		<property name="balanceSessionObject" ref="balanceSessionObject" />
	</bean>
	
	<bean id="categoryService" class="com.project.services.impl.CategoryServiceImpl">
		<property name="categoryRevenueDao" ref="categoryRevenueDao" />
		<property name="categoryExpensesDao" ref="categoryExpensesDao" />
	</bean>
	
	
	
	<bean id="userSessionObject" class="com.project.domain.UserSessionObject" scope="session" >
	 <!-- this next element effects the proxying of the surrounding bean -->
        <aop:scoped-proxy/>
	</bean>
	
	<bean id="balanceSessionObject" class="com.project.domain.BalanceSessionObject" scope="session" >
	 <!-- this next element effects the proxying of the surrounding bean -->
        <aop:scoped-proxy/>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass">
			<value>
				org.springframework.web.servlet.view.tiles2.TilesView
			</value>
		</property>
		 <property name="order" value="0" />
	</bean>

	<bean class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/views/**/views.xml</value>
			</list>
		</property>
	</bean>
	
	
	
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messagePl" />
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="500000" />
	</bean>
</beans>